.deleteReviewForm {
    color:black;
    background-color: #ffffff;
    padding: 40px;
    border: 4px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.red{
    background-color: brown;
    margin-bottom: 10px;
}

.grey{
    background-color: grey;
}

.h2Delete{
margin-left: 100px;
}

.deleteReviewDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
