.reserveContainer {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .reserveButton {
    color: white;
    background-color: #4caf50;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .reserveButton:hover {
    background-color: #c51f1f;
  }

  .dividerLine {
    border-top: 1px solid #ddd;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
  }

  .postReviewButton {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .postReviewButton:hover {
    background-color: #0056b3;
  }

  .postReview{
    background-color: #2196F3;
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-spot-image {
  max-width: 100%; /* Ensure the main image doesn't exceed its container width */
  height: auto; /* Maintain the aspect ratio of the main image */
  border-radius: 8px; /* Add a border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-bottom: 10px; /* Add some spacing between the main image and small images */
}

.small-spot-image {
  max-width: 100%; /* Ensure small images don't exceed their container width */
  height: auto; /* Maintain the aspect ratio of small images */
  border-radius: 4px; /* Add a border radius for rounded corners */
  margin-bottom: 5px; /* Add some spacing between small images */
}



button {
  background-color: #2c2c2c;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.star-container-details{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
