.spot-list-container {
  max-width: 1200px;
  margin: 0 auto;
}

.spot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
}

.spot-tile {
  padding: 20px;
   position: relative;

}

.spot-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.new {
  color: rgb(226, 114, 1);
  font-weight: bold;
  font-family: monospace;
}

.star-container{
  display: flex;
  align-items: flex-start;
}
.rating-container {
  display: flex;
  justify-content: flex-end;

}
.cityState{
  display: flex;
  justify-content: flex-start;
  width:100px;
  color: black;
  font-weight: bolder;
  font-family: cursive;
}


.star-image {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-top: 5px;
  width: 16px;
  height: 16px;
}

.text {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: black;
  font-weight: bolder;
  font-family: cursive;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #171717;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  opacity: 40%;
}

.spot-tile:hover .tooltip {
  display: block;
}

.priceText {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.allCont{
  display: flex;
  justify-content: space-between;
  color:rgba(219, 5, 5, 0.718);
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.textAVG{
  display: flex;
  color: black;
  align-items: flex-start;
}
