.reserveContainer {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .reserveButton {
    color: white;
    background-color: #4caf50;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .reserveButton:hover {
    background-color: #c51f1f;
  }

  .dividerLine {
    border-top: 1px solid #ddd;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
  }
