.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding: 20px;
}

form {
  text-align: center;
}
.h1{
  margin-right: 140px;
}
.h2 {
  text-align: center;
  margin-right: 100px;
}
.h2D {
  text-align: center;
  margin-right: 130px;
}
.h2G {
  text-align: center;
  margin-right: 120px;
}
.h2E {
  text-align: center;
  margin-right: 170px;
}
.h2F {
  text-align: center;
  margin-right: 150px;
}
.h4A{
  text-align:center;
  margin-left: 10px;
  width: 400px;
}
.h4D{
  text-align:center;
  margin-left: 90px;
  width: 550px;
}
.h4E{
  text-align:center;
  margin-left: 140px;
  width:auto
}
.h4F{
  text-align:center;
  margin-left: 120px;
  width:auto
}
.h4G{
  text-align:center;
  margin-right: 70px;
}

.submitB {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #cf0f0f;
  color: #d61d1d;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.desc {
  margin: 5px;
  padding: 20px;
  height: 100px;
  width: 400px;
}
.error {
  margin: 1px;
}
.submitB:disabled {
  background-color: #8f8f8f;
  color: #7f7f7f;
  cursor: not-allowed;
  padding: 10px;
}

.latComp {
  display: flex;
  align-items: center;
}

.cityComp {
  display: flex;
  align-items: center;
}

.countryContainer {
  display: flex;
  flex-direction: column;
  width: 400px
}

.countryHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
}

.countryLeft {
  margin-right: 10px;
}

.errorCountry {
  color: red;

}

.addressContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.addressHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
}

.addressLeft {
  margin-right: 10px;
}

.CityLeft{
  display: flex;
  justify-content: flex-start;
}

.cityContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.cityHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cityLeft {
  margin-right: 10px;
}

.errorCity {
  color: red;
}

.stateContainer {
  display: flex;
  flex-direction: column;
  max-width: 150px;

}

.stateHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stateLeft {
  margin-right: 10px;
}

.errorState {
  color: red;
  white-space: nowrap;
}

.latContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.latHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.latLeft {
  margin-right: 10px;
}

.errorLat {
  color: red;

}

.lngContainer {
  display: flex;
  flex-direction: column;
}

.lngHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height:19px;
}

.lngLeft {
  margin-right: 10px;
}

.errorLng {
  color: red;
  line-height:19px;
  white-space: nowrap;
}

.latContainer{
  width:200px;
  margin-left: 20px;
}
.lngContainer {
  width: 210px;
}





.errorName {
color: red;
display: flex;
}


.errorPrice{
  color: red;
  display: flex;
  }



.mainInput{
width:400px
}

.latContainer,
.lngContainer {
  display: flex;
  flex-direction: column;
  margin-right: 15px; /* Add margin between latitude and longitude inputs */
}
