/* .reserveContainer {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  .reserveContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-end; */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 600px;
    margin-left: auto;
    height: 150px;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .reserveContainer {
      flex-direction: row;
      align-items: center;
    }
  }

  .reserveButton {
    margin-top: auto;
    margin-bottom: 10px;
    color: white;
    background-color: #4caf50;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .reserveButton:hover {
    background-color: #c51f1f;
  }

  .dividerLine {
    border-top: 1px solid #ddd;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
  }

  .postReviewButton {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .postReviewButton:hover {
    background-color: #0056b3;
  }

  .postReview{
    background-color: #2196F3;
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



button {
  background-color: #2c2c2c;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.star-container-details{
  display: inline-flex;
  align-items: center;

}

.big-image {
  width: 100%;
  margin-bottom: 10px;
}


.small-image {
  width: 30%;
  margin-bottom: 10px;
}

.small-images-container {
  display: flex;
  justify-content: space-between;
}

.dot {
  margin: 0 5px;
}
.star-imageReview {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
